header {
	background-color: #add8e6 ;
	padding: 25px ;
	text-align: center ;
	font-size: 30px ;
}

div {
	padding: 2px ;
}

body {
	background-color: #312c38 ;
}

h2 {
	font-family: "Open Sans" ;
	color: #000000 ;
	}
	
h3 {
	font-family: "Open Sans" ;
	color: #FFFFFF ;
	}

h4 {
	font-family: "Open Sans" ;
	color: #e2fffb ; 
}
	
a {
	font-family: "Open Sans" ;
	}
	
p {
	font-family: "Open Sans" ;
	color: #FFFFFF ;
}

table {
	font-family: "Open Sans" ;
	color: #FFFFFF
}

td {
	padding-right: 25px ;
}

img {
	color: #00ff00 ;
	font-family: monospace ;
}

img.one {
	display: block ;
	margin-left: auto ;
	margin-right: auto ;
	padding: 15px ;
	height: 45% ;
	width: 45% ;
}

img.wrap {
	float: left ;
	padding-left: 10px ;
	padding-right: 15px ;
	height: 35% ;
	width: 35% ;
}

a:link {
	font-family: "Open Sans" ;
	color: #c0c0c0 ; 
}

a:visited {
	font-family: "Open Sans" ;
	color: #b69ddd
}

a:hover {
	font-family: "Open Sans" ;
	color: #add8e6 ;
}

.navigationBar {
	font-family: "Open Sans" ; 
	color: #ffffff ;
	background-color: #45404f ;
	padding: 15px ;
	display: flex ;
	justify-content: flex-start ;
	gap: 5px ;
}

div.blueBackground {
	background-color: #314952;
}

div.bottom {
	background-color: #000000 ;
}

.open-sans-<openSans> {
	font-family: "Open Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: <300>;
	font-style: normal;
	font-variation-settings:
	  "wdth" 100;
  }
