header {
	background-color: #add8e6 ;
	padding: 25px ;
	text-align: center ;
	font-size: 30px ;
	font-family: verdana ;
}

body {
	background-color: #312c38 ;
}

h2 {
	font-family: verdana ;
	color: #000000 ;
	}
	
h3 {
	font-family: verdana ;
	color: #FFFFFF ;
	}
	
a {
	font-family: verdana ;
	}
	
p {
	font-family: verdana ;
	color: #FFFFFF ;
}

table {
	font-family: verdana ;
}

th {
	color: #FFFFFF
}

img {
	color: #00ff00 ;
	font-family: monospace ;
}

a:link {
	font-family: verdana ;
	color: #c0c0c0 ; 
}

a:visited {
	font-family: verdana ;
	color: #776690
}

a:hover {
	font-family: verdana ;
	color: #add8e6 ;
}

.navContainer {
	font-family: verdana ; 
	color: #ffffff ;
	background-color: #45404f ;
	padding: 15px ;
	display: flex ;
	justify-content: flex-start ;
	gap: 2em
}
