ul {
    display: flex ;
    justify-content: flex-start ;
    position: -webkit-sticky ; /* Safari */
    position: sticky ;
    list-style-type: none ;
    color: #ffffff ;
    background-color: #45404f ;
    overflow: auto ;
    white-space: nowrap;
}

li {
    font-family: "Open Sans" ;
    color: white ;
    padding-right: 10px ;
}

.nav-links a {
    display: flex ;
    justify-content: flex-start ;
    color: #ffffff ;
    text-align: center ;
    padding: 15px ;
    text-decoration: none ;
    transition: background-color 0.2s ease ;
}

.nav-links a:hover {
    background-color: #b69ddd;  /* Change color on hover */
    color: #000000 ;
}

.nav-links p {
    text-align: center ;
}