#root {
    margin: 0 auto;
    text-align: left;
}

header {
	background-color: #add8e6 ;
	padding: 25px ;
}
header h2 {
	text-align: center ;
	font-size: 35px ;
}

footer {
	background-color: #1c1e21 ;
	padding: 2px ;
}

body {
	background-color: #312c38 ;
}

/* Text CSS*/
h2 {
	font-family: "Open Sans" ;
	color: #000000 ;
	}
	
h1 , h3 , p , table{
	font-family: "Open Sans" ;
	color: #FFFFFF ;
	}

h4 {
	font-family: "Open Sans" ;
	color: #e2fffb ; 
}

td {
	padding-right: 25px ;
}

a {
	font-family: "Open Sans" ;
}

a:link {
	color: #c0c0c0 ;
}

a:visited {
	color: #b69ddd
}

a:hover {
	color: #add8e6 ;
}

/* Image CSS */
img {
	color: #00ff00 ;
	font-family: monospace ;
	padding-right: 25px ;
}

header img {
	padding-right: 5px ;
	height: 45px ;
	width: 45px ;
}

img.center {
	display: block ;
	margin-left: auto ;
	margin-right: auto ;
	padding: 15px ;
	height: 35% ;
	width: 35% ;
}

img.screenshot {
	display: block ;
	margin-left: auto ;
	margin-right: auto ;
	padding: 10px ;
	height: 35% ;
	width: 35% ;
}

img.wrap-left {
	float: left ;
	padding: 10px ;
	height: 25% ;
	width: 25% ;
}
img.wrap-right {
	float: right ;
	padding: 10px ;
	height: 25% ;
	width: 25% ;
}

table img {
	height: 50px ;
	width: 50px ;
}

@media only screen and (max-height: 811px) {
	img.center {
		display: block ;
		margin-left: auto ;
		margin-right: auto ;
		padding: 15px ;
		height: 80% ;
		width: 80% ;
	}

	img.screenshot {
		display: block ;
		margin-left: auto ;
		margin-right: auto ;
		padding: 10px ;
		height: 80% ;
		width: 80% ;
	}

	img.wrap-left {
		float: left ;
		padding: 10px ;
		height: 60% ;
		width: 60% ;
	}
	img.wrap-right {
		float: right ;
		padding: 10px ;
		height: 60% ;
		width: 60% ;
	}

	#img-diego {
		padding: 10px ;
		border-radius: 50% ;
		height: 40%;
		width: 40%;
	}
}

/* div CSS */
div {
	padding: 2px ;
    margin-bottom: 5px ;
}

.theme-aqua a:hover {
	background-color: #418488 ;
}

.theme-juno a:hover {
	background-color: #4a4188 ;
}

.theme-yotsuba a:hover {
	background-color: #418848 ;
}

div.blueBackground {
	background-color: #213642;
}

.center {
	text-align: center ;
}

div.program img {
	display: flex ;
	justify-content: center ;
	align-items: center ;
	gap: 5px ;
	height: 40px ;
	width: 40px ;
}

.social {
	display: flex ;
	justify-content: center ;
	align-items: center ;
	gap: 10px ;
}

footer {
	display: flex ;
	align-items: center ;
	justify-content: center ;
}

.specs {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 2px;
	grid-row-gap: 2px;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }

button {
	font-family: "Open Sans" ;
	border-radius: 15%;
	background-color: #58508f;
	border-color: #58508f;
	color: #ffffff ;
}

button:hover {
	border-color: #5b9da1;
	background-color: #5b9da1;
	color: #ffffff ;
}

button:active {
	background-color: #93d6ec;
	border-color: #93d6ec ;
	color: #45404f ;
}

/* Font CSS */
.open-sans-<openSans> {
				font-family: "Open Sans", sans-serif;
				font-optical-sizing: auto;
				font-weight: < 300 >;
				font-style: normal;
				font-variation-settings: "wdth" 100;
			}
