#root {
    margin: 0 auto;
    text-align: left;
}

header {
	background-color: #add8e6 ;
	padding: 25px ;
}
header h2 {
	text-align: center ;
	font-size: 35px ;
}

footer {
	padding: 2px ;
	display: flex ;
	align-items: center ;
	justify-content: center ;
	background-color: #1c1e21 ;
}

body {
	font-size: 15px ;
	background-color: #312c38 ;
}

/* Text CSS*/
h2 {
	font-family: "Open Sans" ;
	color: #000000 ;
	}
	
h1 , h3 , p , table{
	font-family: "Open Sans" ;
	color: #FFFFFF ;
	}

h4 {
	font-family: "Open Sans" ;
	color: #e2fffb ; 
}

td {
	padding-right: 25px ;
}

a {
	font-family: "Open Sans" ;
}

a:link {
	color: #c0c0c0 ;
}

a:visited {
	color: #b69ddd
}

a:hover {
	color: #add8e6 ;
}

/* Image CSS */
img {
	color: #0000ff ;
	font-family: monospace ;
	padding-right: 15px ;
}

header img {
	padding-right: 5px ;
	height: 45px ;
	width: 45px ;
}

img.screenshot {
	display: block ;
	margin-left: auto ;
	margin-right: auto ;
	padding: 10px ;
	height: 55% ;
	width: 55% ;
}

img.wrap-left {
	float: left ;
	padding: 10px ;
	height: 30% ;
	width: 30% ;
}

img.wrap-right {
	float: right ;
	padding: 10px ;
	height: 30% ;
	width: 30% ;
}

table img {
	height: 50px ;
	width: 50px ;
}

img.img-diego {
	border-radius: 50% ;
	height: 15% ;
	width: 15% ;
	padding: 10px ;
}

/* Tablet CSS */
@media only screen and (max-width: 820px) {
	img.screenshot {
		display: block ;
		margin-left: auto ;
		margin-right: auto ;
		padding: 10px ;
		height: 80% ;
		width: 80% ;
	}

	img.wrap-left {
		float: left ;
		padding: 10px ;
		height: 45% ;
		width: 45% ;
	}

	img.wrap-right {
		float: right ;
		padding: 10px ;
		height: 45% ;
		width: 45% ;
	}

	img.img-diego {
		padding: 10px ;
		border-radius: 100% ;
		height: 25%;
		width: 25%;
	}
}

/* Phone CSS */
@media only screen and (max-width: 428px) {
	header h2 {
		text-align: center ;
		font-size: 30px ;
	}

	footer {
		font-size: 12px ;
	}

	img.screenshot {
		display: block ;
		margin-left: auto ;
		margin-right: auto ;
		padding: 10px ;
		height: 85% ;
		width: 85% ;
	}

	img.wrap-left {
		float: left ;
		padding: 10px ;
		height: 60% ;
		width: 60% ;
	}

	img.wrap-right {
		float: right ;
		padding: 10px ;
		height: 60% ;
		width: 60% ;
	}

	img.img-diego {
		padding: 10px ;
		border-radius: 100% ;
		height: 35%;
		width: 35%;
	}

	div.social a {
		height: 20% ;
		width: 20% ;
	}
}

/* div CSS */
div {
	padding: 2px ;
    margin-bottom: 5px ;
}

.center {
	text-align: center ;
}

.prog {
	display: flex ;
	align-items: center ;
	justify-content: center ;
}

.prog img {
	height: 45px ;
	width: 45px ;
	padding: 10px ;
}

.social {
	display: flex ;
	justify-content: center ;
	align-items: center ;
	gap: 10px ;
}

.specs {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 2px;
	grid-row-gap: 2px;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }

/* Code Block CSS */
pre {
	background-color: #181825 ;
	border: 1px solid #89b4fa ;
	padding: 10px ;
	overflow-x: auto ;
}

code {
	font-family: monospace ;
	color: #cdd6f4
}

/* Font CSS */
.open-sans{
	font-family: "Open Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}
