#root {
    margin: 0 auto;
    text-align: left;
}

header {
	background-color: #add8e6 ;
	padding: 25px ;
}

footer {
	padding: 2px ;
	display: flex ;
	align-items: center ;
	justify-content: center ;
	background-color: #1c1e21 ;
}

body {
	font-size: 15px ;
	background-color: #312c38 ;
}

/* Text CSS*/
h1, h3, h5 {
	font-family: "Open Sans" ;
	color: #e4efff ; 
}

h2, h4, h6 {
	font-family: "Open Sans" ;
	color: #f6e4ff ;
}
	
p , table{
	font-family: "Open Sans" ;
	color: #ffffff ;
}

p.italics {
	font-family: "Open Sans" ;
	font-style: italic ;
	color: #a6adc8 ;
}

span.code-line {
	background-color: #1e1e2e ;
	border-radius: 5px ;
	font-family: monospace ;
	color: #cdd6f4 ;
	padding: 2px ;
}

td {
	padding-right: 25px ;
}

a {
	font-family: "Open Sans" ;
}

a:link {
	color: #c0c0c0 ;
}

a:visited {
	color: #b69ddd
}

a:hover {
	color: #add8e6 ;
}

/* Image CSS */
img {
	color: #a6e3a1 ;
	font-family: monospace ;
	padding-right: 15px ;
}

h1 img {
	padding-right: 5px ;
	height: 45px ;
	width: 45px ;
}

img.screenshot {
	display: block ;
	margin-left: auto ;
	margin-right: auto ;
	padding: 10px ;
	height: 55% ;
	width: 55% ;
}

img.wrap-left {
	float: left ;
	padding: 10px ;
	height: 30% ;
	width: 30% ;
}

img.wrap-right {
	float: right ;
	padding: 10px ;
	height: 30% ;
	width: 30% ;
}

img.prog-logo {
	height: 40px ;
	/* width: auto ; */
}

img.loading-gif {
	height: 200px ;
	width: auto ;
}

img.img-diego {
	border-radius: 50% ;
	height: 15% ;
	width: 15% ;
	padding: 10px ;
}

/* Tablet CSS */
@media only screen and (max-width: 820px) {
	img.screenshot {
		display: block ;
		margin-left: auto ;
		margin-right: auto ;
		padding: 10px ;
		height: 80% ;
		width: 80% ;
	}

	img.wrap-left {
		float: left ;
		padding: 10px ;
		height: 45% ;
		width: 45% ;
	}

	img.wrap-right {
		float: right ;
		padding: 10px ;
		height: 45% ;
		width: 45% ;
	}

	img.img-diego {
		padding: 10px ;
		border-radius: 100% ;
		height: 25%;
		width: 25%;
	}
}

/* Phone CSS */
@media only screen and (max-width: 428px) {
	footer {
		font-size: 12px ;
	}

	img.screenshot {
		display: block ;
		margin-left: auto ;
		margin-right: auto ;
		padding: 10px ;
		height: 85% ;
		width: 85% ;
	}

	img.wrap-left {
		float: left ;
		padding: 10px ;
		height: 60% ;
		width: 60% ;
	}

	img.wrap-right {
		float: right ;
		padding: 10px ;
		height: 60% ;
		width: 60% ;
	}

	img.img-diego {
		padding: 10px ;
		border-radius: 100% ;
		height: 35%;
		width: 35%;
	}

	div.social a {
		height: 20% ;
		width: 20% ;
	}
}

/* div CSS */
div {
	padding: 2px ;
    margin-bottom: 5px ;
}

.title_header {
	display: flex ;
	color: #11111b ;
	align-items: center ;
	justify-content: center ;
}

.center {
	text-align: center ;
}

.prog {
	display: flex ;
	flex-wrap: wrap ;
	align-items: center ;
	justify-content: center ;
}

.prog img {
	padding: 10px ;
}

.social {
	display: flex ;
	justify-content: center ;
	align-items: center ;
	gap: 10px ;
}

.specs {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 2px;
	grid-row-gap: 2px;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }

/* Code Block CSS */
pre {
	background-color: #181825 ;
	border: 1px solid #89b4fa ;
	padding: 10px ;
	overflow-x: auto ;
}

code {
	font-family: monospace ;
	color: #cdd6f4
}

/* Font CSS */
.open-sans{
	font-family: "Open Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}